<form method="post" action="/post" class="well form-horizontal center" style="text-align: center;">
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-1">
            <input type="text" class="form-control" name="post">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-comment">
                </i> 发言
            </button>
        </div>
    </div>
</form>